.portfolio-section {
    width: 40%;
    float:left;
}
.not-portfolio-section {
    width: 60%;
    float: left;
}
.widgets-section {

    background: #F0EDEA;
    border-radius: 10px;
    margin-left: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
}
.graph-section {
    height: 65vh;
    background: #F0EDEA;
    border-radius: 10px;
    margin: 20px 0px 0px 10px;
    padding: 20px;
}
.body{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
