
.widgets-section {
    background: #F0EDEA;
    border-radius: 10px;
    margin-left: 10px;
    display: flex;
    justify-content:space-around;
    padding: 10px;
    height: 18vh;
}
.graph-section {
    height: 71vh;
    background: #F0EDEA;
    border-radius: 10px;
    margin: 10px 0px 0px 10px;
    padding: 25px;
}
.body{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;

}
