.investment {
    border: 1px solid #DFF6E9;
    border-radius: 5px;
    color: #F4F1F1;
    margin: 2px 2px;
    padding: 1%;
    height: auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
    font-size: 1.2vw;

}
.investment:hover{
    text-decoration: overline;
}
.input{
    display: flex;
    align-items: center;
}

.category {

    [data-icon] {
        padding-left: 15px;
        &:before {
            content: attr(data-icon);
        }
    }
}
.arrows {
    order: 2;
}
.up {
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #6AB284;
    margin-top: 3px;
    margin-bottom: 5px;
    cursor: pointer;
}
.down {
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid #6AB284;
    cursor: pointer;
}
.percent {
    background: white;
    font-size: 1vw;
    margin-left: 15px;
    border-radius: 7px;
    text-align: right;
    padding: 5px 10px;
    color: black;
    order: 3;
}
#red {
    color: red;
}
#black {
    color: black;
}
.tool{
    position: relative;
    display: inline-block;
  }

  .tool .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -52px;
    opacity: 0.8;
  }

  .tool .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
  }

  .tool:hover .tooltiptext {
    visibility: visible;
  }
