.portfolio {
  height: 90vh;
  background-color: #143938;
  border-radius: 10px;
  width: 36vw;

}
.main{


}
.center {
    text-align: center;
    color: white;
    padding-top: 5px;
}
.card {
    width: 40%;
    padding: 0px 10px;
    background-color: #F0EDEA;
    box-shadow: 3px 3px 1px 1px #d3d3d3;
}
.fraction-cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;

}
.spacer{
  width: 90%;
  margin: 0px 5%;
}
.spacer hr{
  border-top: 3px dashed #F0EDEA;
  margin: 10px;
}

.descriptor {
    text-align: left;
    font-size: 1.2vw;
    color: #555464;
    margin-bottom: 0;
}
.number {
    color: #000000;
    font-size: 1.3vw;
    text-align: right;
    margin-bottom: 0;
    font-weight: bold;
}

.enter {
    background-color: #F0EDEA;
    border-radius: 15px;
    padding: 5px 40px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.3vw;

}
.button{
  text-align: center;
  margin: 20px 20px 20px 20px;

}
.enter:hover{
  background-color: #d8d5d2
}
#disabled {
    cursor: not-allowed;
    background-color: gray;
}
.portfolioTitle{
  font-size:1.5vw;
  text-decoration: underline;

}
.value{
  font-size: 1.3vw;
}
.topText{
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
.investments{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
