.widget {
    background-color: #143938;
    box-shadow: 5px 5px 1px 1px #d3d3d3;
    width: 22%;
    border-radius: 10px;
    color: #FFFFFF;
    padding: 5px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;


}
.widgetHeader{
    text-decoration: underline;
    font-size: 1.2vw;
    text-align: center;
    width: 100%;

}
.desc {
    font-size: 0.8vw;
}
.num {
    font-size: 2.2vw;
    font-weight: bold;
    text-align: center;
    align: center;

}
h1{
  font-size: 2vw;
}
